<div class="header">
  <div class="header_settings">
    <div class="navbar flex">
      <div class="navbar-collapse">
          <i class="material-icons">
            menu
          </i>
          <div class="navbar-brand">
            Millennium
          </div>
      </div>
      <div class="navbar-login">
        <i class="material-icons" style="position:relative">
          notifications
          <svg id="" style="position: absolute;bottom: 0;right: 0;width: 14px;height: 14px;">
              <circle cx="7" cy="7" r="7" stroke="black" stroke-width="0" fill="#fff"></circle>
              <text id="notification_count" x="7" y="11" fill="#000" style="font-size: 8pt; width: 6px;" width="20" text-anchor="middle">1</text>
          </svg>
        </i>
        <i class="material-icons" style="position:relative">
            shopping_cart
            <svg id="" style="position: absolute;bottom: 0;right: 0;width: 14px;height: 14px;">
                <circle cx="7" cy="7" r="7" stroke="black" stroke-width="0" fill="#fff"></circle>
                <text id="notification_count" x="7" y="11" fill="#000" style="font-size: 8pt; width: 6px;" width="20" text-anchor="middle">1</text>
            </svg>
        </i>
        <i class="material-icons">
          account_circle
        </i>
      </div>
    </div>
  </div>
  <div class="header_catalog">
    <div class="navbar-catalog flex">
      <div class="search-item">
        Search
        <i class="material-icons">
            filter_list
        </i>
      </div>
      <div class="products-filter">
        <i class="material-icons">
            home
        </i>
        <i class="material-icons">
            shopping_cart
        </i>
        <i class="material-icons">
            local_shipping
        </i>
        <i class="material-icons">
            history
        </i>
      </div>
    </div>
  </div>
</div>