.header {
	width: 100%;
	height: 100px;
	background-color: #000;
	color: #fff;

	&_settings {
		background-color: #d8d8d8;

		.navbar {
			flex-flow: row wrap;
			padding: 10px 30px;
			&-brand {
				margin-left: 15px;
				text-transform: uppercase;
			}
			&-collapse,
			&-login {
				flex: 1;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
			}
			&-login {
				justify-content: flex-end;
			}
		}
	}
}