<div class="header">
  <div class="header_settings">
    <div class="navbar flex">
      <div class="navbar-collapse">
          <i class="material-icons">
            menu
          </i>
          <div class="navbar-brand">
            Millennium
          </div>
      </div>
      <div class="navbar-login">
        <i class="material-icons">
          notifications
        </i>
        <i class="material-icons">
          account_circle
        </i>
      </div>
    </div>
  </div>
  <div class="navbar-catalog flex">
      <div class="search-item">
        Search
        <i class="material-icons">
            filter_list
        </i>
      </div>
      <div class="products-filter">
        <i class="material-icons">
            home
        </i>
        <i class="material-icons">
            shopping_cart
        </i>
        <i class="material-icons">
            local_shipping
        </i>
        <i class="material-icons">
            history
        </i>
      </div>
    </div>
</div>