.header {
	width: 100%;
	color: #fff;

	&_settings {
		background-color: #d8d8d8;
		color: #0871B5;

		.navbar {
			flex-flow: row wrap;
			padding: 10px 30px;
			&-brand {
				margin-left: 15px;
				text-transform: uppercase;
			}
			&-collapse,
			&-login {
				flex: 1;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
			}
			&-login {
				justify-content: flex-end;
			}
		}
	}
	&_catalog {
		background-color: #000;
		display: flex;
		padding: 10px;
		justify-content: center;
		align-items: center;

		.navbar-catalog {
			.products-filter {
				margin: 0 0 0 20px;
				> i {
					background: rgba(255, 255, 255, 0.1);
					min-width: 2em;
					border: none;
					text-align: center;
					border-top: 1.8px solid transparent;
					border-bottom: 1.8px solid transparent;
				}
			}
		}
	}
}