@import 'variables';

:host {
  max-width: 100%;
  padding: $spacer/1.3;
  @media ($xs-up) {
    max-width: 50%;
  }
  @media ($md-up) {
    max-width: 25%;
  }
}

mat-card {
  cursor: pointer;
  animation: all .7s ease;

  mat-card-content {
    min-height: 135px;
    margin: 0;
  }
  
  .product-card {
    &_price {
      display: block;
      color: #08308C;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      margin: 10px 0;
    }
  }
}