<div class="checkout-cart">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Nome do Produto | R$19.90
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Descrição do Produto</p>
    <p>Tamanho e quantidade</p>
  </mat-expansion-panel>
  <div>Total: R$100.00</div>
</div>