<div class="cart-pickup_content">
  <div class="cart-pickup_content-item">
    <div class="cart-item_details flex">
      <div>001</div>
      <div>Camiseta</div>
    </div>
    <div class="cart-item_details-price flex">
      R$19.90
    </div>
  </div>
  <div class="cart-pickup_content-item">
    <div class="cart-item_details flex">
      <div>025</div>
      <div>Calça</div>
    </div>
    <div class="cart-item_details-price flex">
      R$29.90
    </div>
  </div>
  <div class="cart-pickup_content-item">
    <div class="cart-item_details flex">
      <div>150</div>
      <div>Bermuda</div>
    </div>
    <div class="cart-item_details-price flex">
      R$15.90
    </div>
  </div>
  <div class="cart-pickup_actions">
      <button mat-raised-button class="btn btn-cancel">
        Cancelar
      </button>
      <button mat-raised-button class="btn btn-checkout">
        Checkout
      </button>
  </div>
</div>
  
    