<div class="cart-pickup_content">
  <div *ngFor="let i of recentItem" class="cart-pickup_content-item">
    <div class="cart-item_details flex">
      <img src="{{ i.thumbnailImage }}" alt="{{ i.name }}">
      <div class="cart-item_details-text">
        <div>{{ i.itemId}}</div>
        <div>{{ i.name }}</div>
      </div>
    </div>
    <div class="cart-item_details-price flex">
      R${{ i.salePrice }} 
    </div>
    <div class="cart-item_details-actions flex">
      <button mat-icon-button class="btn btn-edit" (click)="clearCart()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  
  <div class="cart-total-price">
    Total: {{ totalCartPrice() }}
    Itens: {{ quantityItemsCart() }}
  </div>
  <div class="cart-pickup_actions">
      <button mat-raised-button class="btn btn-cancel" (click)="clear()">
        Cancelar
      </button>
      <button mat-raised-button class="btn btn-checkout" routerLink="/cart/checkout">
        Checkout
      </button>
  </div>
</div>
  
    