<div *ngIf="recentItem" class="cart-pickup_content">
  <app-cart-item *ngFor="let i of recentItem" [product]="i" (clear)="clearCart($event)"></app-cart-item>
  <div class="cart-total-price">
    Total: R${{ totalCartPrice() }}
    Itens: {{ quantityItemsCart() }}
  </div>
  <div class="cart-pickup_actions">
      <button mat-raised-button class="btn btn-cancel" (click)="clear()">
        Cancelar
      </button>
      <button mat-raised-button class="btn btn-checkout" routerLink="/cart/checkout">
        Checkout
      </button>
  </div>
</div>
  
    