<div class="catalog-products">
  <div class="catalog-products_content">
    <div *ngFor="let product of products$" class="catalog-products_card">
      <div class="catalog-products_card-image">
        <img src="{{ product.thumbnailImage }}" alt="{{ product.name }}">
      </div>
      <div class="catalog-products_card-details">
        <div class="id">{{ log(product) }}</div>
        <div class="name">{{ product.name }}</div>
        <div class="price">{{ product.salePrice }}</div>
      </div>
    </div>
  </div>
</div>
 